body {
  font-family: Tahoma;
  background: #f2f2f2;
  padding: 20px;
}

header {
  background: #004aad;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}

.cars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
}

.car {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

button {
  background: #25d366;
  border: none;
  color: white;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}
